.footer {
  background: var(--title-footer-bg-color);
  padding: 60px 0;
  margin: 0 auto;
  .container {
    display: flex;
    align-items: baseline;
  }
}

.footer-logo {
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-pre-logo {
  color: var(--btn-link-hover-color);
}

.footer-after-logo {
  color: var(--text-teambox-btnhover-color);
}

.footer-address.footer-contacts {
  color: var(--text-teambox-btnhover-color);
}

.adress {
  margin-right: 70px;
}

.adress-address {
  padding-top: 20px;
  padding-bottom: 10px;
}

.adress-tel {
  padding-top: 9px;
}

.footer-contacts {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social {
  max-width: 206px;
}

.footer-soc-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-teambox-btnhover-color);
}

.footer-soc-list {
  display: flex;
  margin-top: 20px;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}

.footer-soc-icon {
  fill: var(--text-teambox-btnhover-color);
}
